@import '../../variables.scss';

.pokemon-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;

  &__item {
    box-sizing: border-box;
    cursor: pointer;
    height: 20vh;
    margin: $spacings-S;
    width: 30%;

    &:hover {
      box-shadow: rem-calc(2) rem-calc(2) $easternBlue;
    }
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .pokemon-list {
    &__item {
      width: 45%;
    }
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .pokemon-list {
    &__item {
      margin: $spacings-S 0;
      width: 100%;

      &:first-child {
        margin: 0 0 $spacings-S 0;
        border-top: rem-calc(3) solid $easternBlue;
      }
    }

    &:hover {
      box-shadow: rem-calc(2) rem-calc(2) $easternBlue;
    }
  }
}
