@import '../../variables.scss';

.pokemonList {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
  }

  &__item {
    box-sizing: border-box;
    width: 30%;
    margin: $spacings-S;
    height: 20vh;

    @media screen and (max-width: $tablet-breakpoint) {
      width: 45%;
    }

    @media screen and (max-width: $smartphone-breakpoint) {
      width: 100%;
    }
  }
}
