@import '../../variables.scss';

.pokemon-evolution {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: $spacings-L;

  &__pokemon-image {
    height: rem-calc(100);
  }

  &__pokemon-name {
    font-size: $font-size-text;
  }
}
