@import '../../variables.scss';

.pokemonSummaryPage {
  &__container {
    background-image: $primary-gradient-color;
  }

  &__header {
    align-items: center;
    background-color: $secondary-background-color;
    display: flex;
    flex-direction: row;
    height: 25vh;
    justify-content: space-between;
  }

  &__titleContainer {
    padding: $spacings-XXL;
  }

  &__title {
    color: $primary-text-color;
    font-size: $font-size-header;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__subtitle {
    color: $primary-text-color;
  }

  &__searchContainer {
    padding: $spacings-XXL;
  }

  &__pokemonListContainer {
    padding: $spacings-XL $spacings-XL 0 $spacings-XL;

    @media screen and (max-width: $tablet-breakpoint) {
      padding: $spacings-S $spacings-S 0 $spacings-S;
    }

    @media screen and (max-width: $smartphone-breakpoint) {
      padding: $spacings-XS $spacings-XS 0 $spacings-XS;
    }
  }
}
