@import '../../variables.scss';

.pokemonDetailsPage {
  &__container {
    background-image: $primary-gradient-color;
    position: relative;
  }

  &__header {
    align-items: center;
    background-color: $primary-gradient-color;
    display: flex;
    justify-content: center;
    min-height: 25vh;
  }

  &__pokemonTitleContainer {
    margin: $spacings-L;
  }

  &__pokemonTitle {
    color: $secondary-text-color;
    font-size: $font-size-header;
    font-weight: 700;
    padding: $spacings-M;
  }

  &__body {
    background-color: $primary-gradient-color;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 70vh;
  }

  &__bodyElement {
    padding: $spacings-XL;
    width: 50%;
    background: $secondary-background-color;

    @media screen and (max-width: $tablet-breakpoint) {
      width: 100%;
      margin: 0;
    }
  }

  &__smallBodyElement {
    width: 25%;
    margin: $spacings-L 0;
    box-shadow: 10px 5px 5px $grey;
    border: rem-calc(1) solid $grey;

    @media screen and (max-width: $tablet-breakpoint) {
      margin: 0;
      width: 100%;

      box-shadow: unset;
      border: unset;
      border-bottom: rem-calc(1) solid $grey;
    }
  }

  &__pokemonImageContainer {
    display: flex;
    justify-content: center;
  }

  &__pokemonDescription {
    align-items: center;
    display: flex;
    font-size: $font-size-title;
    justify-content: center;
  }

  &__subtitle {
    font-size: $font-size-subtitle;
    margin: $spacings-L 0;
  }

  &__pokemonStats {
  }

  &__pokemonTypes {
    display: flex;
    flex-wrap: wrap;
  }

  &__pokemonType {
    margin: $spacings-S $spacings-S $spacings-S 0;
  }

  &__pokemonTypesResistant {
    margin: $spacings-L 0 0 0;
  }

  &__pokemonTypesWeaknesses {
    margin: $spacings-L 0 0 0;
  }

  &__pokemonMove {
    border-bottom: rem-calc(1) solid $primary-border-color;
  }

  &__pokemonMoveSubtitle {
    margin: $spacings-L 0;
    padding: 0 0 $spacings-S 0;
  }

  &__pokemonEvolutions {
    background-color: $white;
  }

  &__pokemonEvolution {
    margin: 0 0 $spacings-L 0;
  }

  &__noEvolutionsAvailable {
    font-size: $font-size-title;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__backButton {
    left: $spacings-L;
    position: absolute;
    top: $spacings-L;
  }

  // animations

  &__container {
    opacity: 1;
    animation: fadein 300ms;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
