@import '../../variables.scss';

.pokemon-move {
  &__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $spacings-S 0;
    padding: $spacings-S 0;
  }

  &__attack-name {
    font-size: $font-size-text;
  }

  &__attack-details-container {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  &__attack-power {
    border-radius: $spacings-L;
    margin: 0 $spacings-S;
    padding: $spacings-S;
  }
}
