@import '../../variables.scss';

.footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: $spacings-L;

  &__repository-image {
    cursor: pointer;
    height: rem-calc(30);
  }
}
