html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

$font-size: 16;

@function rem-calc($size) {
  $remSize: $size / $font-size;
  @return #{$remSize}rem;
}

html {
  font-size: $font-size;
  font-family: 'Arial';
}
