@import 'base.scss';

// palette
$redOrange: #ff3f34;
$white: #ffffff;
$grey: grey;
$black: black;

// colors

$primary-text-color: $black;
$secondary-text-color: $white;

$primary-background-color: $redOrange;
$secondary-background-color: $white;
$tertiary-background-color: $grey;

// spacings

$spacings-XS: rem-calc(4);
$spacings-S: rem-calc(10);
$spacings-M: rem-calc(16);
$spacings-L: rem-calc(24);
$spacings-XL: rem-calc(30);
$spacings-XXL: rem-calc(45);

// font size

$font-size-title: rem-calc(32);
$font-size-text: rem-calc(16);
$font-size-subtitle: rem-calc(12);

// breakpoints

$smartphone-breakpoint: 640px;
