@import 'base.scss';

// palette
$redOrange: #ff3f34;
$white: #ffffff;
$grey: grey;
$black: black;
$easternBlue: #1e9ab0;
$skyBlue: #76d7ea;
$pearlBush: #e8e0d5;

// colors

$primary-text-color: $black;
$secondary-text-color: $white;

$primary-background-color: $pearlBush;
$secondary-background-color: $white;
$tertiary-background-color: $grey;

// gradients

$primary-gradient-color: linear-gradient(to right, $easternBlue, $skyBlue);

// border-colors

$primary-border-color: $grey;

// spacings

$spacings-XS: rem-calc(4);
$spacings-S: rem-calc(10);
$spacings-M: rem-calc(16);
$spacings-L: rem-calc(24);
$spacings-XL: rem-calc(30);
$spacings-XXL: rem-calc(45);

// font size

$font-size-header: rem-calc(64);
$font-size-title: rem-calc(32);
$font-size-text: rem-calc(16);
$font-size-subtitle: rem-calc(20);

// font families

$primary-font-family: 'Montserrat';

// breakpoints

$smartphone-breakpoint: rem-calc(640);
$tablet-breakpoint: rem-calc(1024);
